src/packages
.idea
obj
bin
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.user
*.suo
*.cache
*.Cache
~$*
Thumbs.db
*.cache
.svn
reports
reports/*

_*
**/_*
