<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.6" />
        <httpRuntime targetFramework="4.6" />
        <httpHandlers>
            <add verb="*" path="*.notimplemented" type="System.Web.HttpNotImplementedHandler" />
            <add verb="*" path="*.methodnotallowed" type="System.Web.HttpMethodNotAllowedHandler" />
        </httpHandlers>
        <urlMappings enabled="true">
            <add url="~/mappedCustomers" mappedUrl="customers.methodnotallowed" />
        </urlMappings>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="NotImplementedHandler" verb="*" path="*.notimplemented"
                 type="System.Web.HttpNotImplementedHandler" resourceType="Unspecified" requireAccess="Script" />
            <add verb="*" path="*.methodnotallowed" name="NotAllowedHandler"
                 type="System.Web.HttpMethodNotAllowedHandler" />
        </handlers>
    </system.webServer>
</configuration>