<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<mm-GraphProvider>BUILTINDARK</mm-GraphProvider>
	<mm-ProfilerSetup>RUN</mm-ProfilerSetup>
	<mm-RealtimeFeedback>false</mm-RealtimeFeedback>
	<WhenWatchingSolutionBuildSolution>false</WhenWatchingSolutionBuildSolution>
	<notify_on_run_started>false</notify_on_run_started>
	<RunAssembliesInParallel>false</RunAssembliesInParallel>
</configuration>