<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="openrasta-core CI" value="https://ci.appveyor.com/nuget/openrasta-core" />
<!--        <add key="NuGet official package source" value="https://nuget.org/api/v2/" />-->
    </packageSources>
</configuration>
